<div class="tab" >
  	<button class="tablinks" ng-click="setTab()">Cupones</button>
  	<button class="tablinks" ng-click="setTab()">Promociones</button>
</div>
<br>
<div>
	<div ng-show="tab">
		<div class="panel panel-default" ng-repeat = "cupon in filteredCupons">	
			<h3>Cupón</h3>
			<h4>{{cupon.title}}</h4>
			<h4>Precio normal: 	₡{{cupon.normalprice}}000</h4>
			<h4>Precio ahora: 	₡{{cupon.maxprice}}000</h4>
			<h4>Ahorro:  {{cupon.save}}%</h4>
			<img src={{cupon.image}} style="height: 100px;width: 200px">			
		</div>
		<div align="center">
			<ul uib-pagination total-items="maxCuponSize" ng-model="currentCuponPage" max-size="numPerPage" class="pagination-lg" boundary-links="true" rotate="false"></ul>
		</div>
	</div>
	<div ng-show="tab==false">
		<div class="panel panel-default" ng-repeat = "prom in filteredPromotions">	
			<h3>Promoción</h3>
			<h4>{{prom.title}}</h4>
			<h4>Precio normal: ₡{{prom.value}}000</h4>
			<h4>Precio ahora: ₡{{prom.price}}000</h4>
			<h4>Ahorro: {{prom.save}}%</h4>
			<img src={{prom.image1}} style="height: 100px;width: 200px">			
		</div>
		<div align="center">
			<ul uib-pagination total-items="maxPromotionSize" ng-model="currentPromotionPage" max-size="numPerPage" class="pagination-lg" boundary-links="true" rotate="false"></ul>
		</div>
	</div>
</div>
	

