<div class="container">
	<div class="tab" >
		<button id="btn1" class="tablinks" ng-click="setTab()">Cupones</button>
		<button id="btn2" class="tablinks" ng-click="setTab()">Promociones</button>
	</div>
	<br>
	<div>
		<div ng-show="tab">
			<!--<aside>
				<nav ng-repeat="cupon in cuponTop5">
					<h3>Cupón</h3>
					<h4>{{cupon.title}}</h4>
					<h4>Precio normal: 	₡{{cupon.normalprice}}000</h4>
					<h4>Precio ahora: 	₡{{cupon.maxprice}}000</h4>
					<h4>Ahorro:  {{cupon.save}}%</h4>
					<img src={{cupon.image}} style="height: 70px;width: 140px">
				</nav>
			</aside>-->
			<div class="border panel panel-default" ng-repeat = "cupon in filteredCupons">	
				<h3>Cupón</h3>
				<h4>{{cupon.title}}</h4>
				<h4>Precio normal: 	₡{{cupon.normalprice}}</h4>
				<h4>Precio ahora: 	₡{{cupon.maxprice}}</h4>
				<h4>Ahorro:  {{cupon.save}}%</h4>
				<img src={{cupon.image}} style="height: 100px;width: 200px">	
				<button class="btn btn-success" ng-click="sendCuponInfo(cupon)">Enviar datos al correo</button>		
			</div>
			<div align="center">
				<ul uib-pagination total-items="maxCuponSize" ng-model="currentCuponPage" max-size="numPerPage" class="pagination-lg" boundary-links="true" rotate="false"></ul>
			</div>
		</div>
		<div ng-show="tab==false">
			<!--<aside>
				<nav ng-repeat="prom in promotionTop5">
					<h3>Promoción</h3>
					<h4>{{prom.title}}</h4>
					<h4>Precio normal: ₡{{prom.value}}000</h4>
					<h4>Precio ahora: ₡{{prom.price}}000</h4>
					<h4>Ahorro: {{prom.save}}%</h4>
					<img src={{prom.image1}} style="height: 70px;width: 140px">
				</nav>
			</aside>-->
			<div class="border panel panel-default" ng-repeat = "prom in filteredPromotions">	
				<h3>Promoción</h3>
				<h4>{{prom.title}}</h4>
				<h4>Precio normal: ₡{{prom.value}}</h4>
				<h4>Precio ahora: ₡{{prom.price}}</h4>
				<h4>Ahorro: {{prom.save}}%</h4>
				<img src={{prom.image1}} style="height: 100px;width: 200px">
				<button class="btn btn-success" ng-click="sendPromotionInfo(prom)">Enviar datos al correo</button>					
			</div>
			<div align="center">
				<ul uib-pagination total-items="maxPromotionSize" ng-model="currentPromotionPage" max-size="numPerPage" class="pagination-lg" boundary-links="true" rotate="false"></ul>
			</div>
		</div>
	</div>
</div>
	

