<div>
	<ol class="breadcrumb">
	  <li class="active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cambiar contraseña</li>
	</ol>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<input type="password" class="form-control" ng-model="inputUser.currentPassword" placeholder="Ingrese la contraseña actual"> <br>
				<input type="password" class="form-control" ng-model="inputUser.newPassword" placeholder="Ingrese la nueva contraseña"> <br>
				<input type="password" class="form-control" ng-model="inputUser.newPassword2" placeholder="Vuelva a ingresar la nueva contraseña"> <br>
				<button class="btn btn-primary center-block"  uib-tooltip="cambiar" ng-click="updatePassword(inputUser)">Cambiar contraseña</button> 
			</div>
		</div>
	</div>
</div>