<div class="ui-base">
	<div class="header-custom">
		<h2>Promociones TEC</h2>
	</div>

	<!-- BEGIN NAVIGATION -->
	<div ng-controller="NavegacionCtrl">
	    <nav class="navbar navbar-default navbar-custom" role="navigation">
	    	<div class="container-fluid">
	    	 <div class="navbar-header">
     			 <a class="navbar-brand" href ="#/home">Home</a>
   			 </div>
		        <div class="collapse navbar-collapse " ng-class="!navCollapsed && 'in'">
		            <ul class="nav navbar-nav">
						
						<li uib-dropdown>
		                    <a uib-dropdown-toggle>
		                        Administración
		                        <b class='caret'></b>
		                    </a>
		                    <tree tree='administracion'></tree>
		                </li>

		                <li uib-dropdown>
		                    <a uib-dropdown-toggle>
		                        Cupones
		                        <b class='caret'></b>
		                    </a>
		                    <tree tree='cupones'></tree>
		                </li>

		                <li uib-dropdown>
		                    <a uib-dropdown-toggle>
		                        Promociones
		                        <b class='caret'></b>
		                    </a>
		                    <tree tree='promociones'></tree>
		                </li>

		            </ul>


		            <ul class="nav navbar-nav navbar-right" class="list-group">
		                <li uib-dropdown>
		                    <a uib-dropdown-toggle>
		                    	<i class="glyphicon glyphicon-user"></i>
		                        {{username}}
		                        <b class='caret'></b>
		                    </a>
		                    <tree tree='sesion'></tree>
		                </li>
		            </ul>

		             <ul class="nav navbar-nav navbar-right">
      					<li><a href="#/contacto">Contacto</a></li>	
    				</ul>


		        </div>
	        </div>
	        <!-- /.navbar-collapse -->
	    </nav>
	</div>
	<!-- END NAVIGATION -->

	<div class="ui-base">
		<div ui-view />
	</div>
</div>